<h3>Forgot password?</h3>

<h4>Provide your email address to send a new password.</h4>

<label for="user_name">Email:</label><br/>
<%= text_field "user", "email", :size => 20 %><br/>

<%= submit_tag "Submit" %>

<%= link_to 'Back', users_path %>