$('.box-head').html('<h2>Course Created</h2>');

$('.form p').hide();
$('.colorpicker').hide();


$('#ajax-response').html('<h1>Course created successfully!</h1><br />');
$('#ajax-response').toggle('slow');



$('.buttons').html('<a href="/courses" class="button">Done</a>');



///***********************************************************************////
// for reference - this is how you can capture the response maybe useful in 
// case of error otherwise can use rails tags since it's erb file
//
// $('#myform').bind('ajax:success', function(evt, data, status, xhr){
//    eval(xhr.responseText);
//  });
///***********************************************************************////