<% if @course.errors.any? %>
      alert('<%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:\n'

  
      <% @course.errors.full_messages.each do |msg| %>
			+ '* <%= msg %> \n'
      <% end %>
 	);
<% else %>
	$('.box-head').html('<h2>Course Updated</h2>');

	$('.form p').hide();
	$('#customWidget').hide();
	
	$('#ajax-response').html('<h1>Course updated successfully!</h1><br />');
	$('#ajax-response').toggle('slow');

	$('.buttons').html('<a href="/courses" class="button">Done</a>');
<% end %>

///***********************************************************************////
// for reference - this is how you can capture the response maybe useful in 
// case of error otherwise can use rails tags since it's erb file
//
// $('#myform').bind('ajax:success', function(evt, data, status, xhr){
//    eval(xhr.responseText);
//  });
///***********************************************************************////