* {
padding: 0;
margin: 0;
outline: 0;
}
body {
background: #f9ebae;
font-family: Verdana, sans-serif;
font-size: 11px;
line-height: 14px;
color: #5e5e5e;
}
html, body {
	height: 100%;
}
input, textarea, select {
font-family: Verdana, sans-serif;
font-size: 13px;
}

textarea {
overflow: hidden;
}

.field {
border: solid 1px #d3cfc7;
background: #fff;
padding: 5px;
}
.small-field {
border: solid 1px #d3cfc7;
background: #fff;
padding: 3px 1px;
font-size: 11px;
}

.checkbox {
width: 13px;
height: 13px;
vertical-align: top;
position: relative;
top: 2px;
}

.button {
text-decoration: none;
background: #eee url(/assets/button.gif) repeat-x 0 0;
border: solid 1px #b1a874;
color: #7f7f7f;
font-size: 11px;
padding: 2px 6px 2px 6px;
cursor: pointer;
line-height: 14px !important;
}

.button:hover {
color: #333;
border-color: #857b42;
}


.field:focus {
color: #000;
border-color: #857b42;
}

a img {
border: 0;
}

a {
color: #ba4c32;
text-decoration: underline;
cursor: pointer;
}
a:hover {
color: #8d341f;
text-decoration: none;
}

.left, .alignleft {
float: left;
display: inline;
}
.right, .alignright {
float: right;
display: inline;
}

.cl {
font-size: 0;
line-height: 0;
clear: both;
display: block;
height: 0;
}

.al {
text-align: left;
}
.ar {
text-align: right;
}
.ac {
text-align: center !important;
}

h1 {
font-size: 22px;
line-height: 24px;
color: #fff;
font-weight: normal;
}
h1 a {
color: #fff;
text-decoration: none;
}
h2 {
font-size: 15px;
font-weight: normal;
}
h3 {
font-size: 12px;
line-height: 14px;
font-weight: normal;
}
h3 a {
text-decoration: none;
}



.shell {
width: 988px;
margin: 0 auto;
}

#header {
height: 89px;
background: url(/assets/header.gif);
white-space: nowrap;
}
#header h1 {
float: left;
display: inline;
padding-top: 12px;
}
#top-navigation {
float: right;
white-space: nowrap;
color: #fff;
padding-top: 15px;
}
#top-navigation a {
color: #fff;
}
#top-navigation span {
color: #dca598;
}
#top {
height: 53px;
}

#navigation {
height: 36px;
}
#navigation ul {
list-style-type: none;
}
#navigation ul li {
float: left;
display: inline;
margin-right: 2px;
}
#navigation ul li a,

#navigation ul li a span {
float: left;
height: 36px;
background: url(/assets/tab.gif) no-repeat 0 0;
padding: 0 0 0 15px;
}

#navigation ul li a span {
background-position: right 0;
padding: 0 15px 0 0;
}
#navigation ul li a {
line-height: 36px;
color: #907525;
text-decoration: none;
}

#navigation ul li a.active,
#navigation ul li a:hover {
background-position: 0 bottom;
}

#navigation ul li a.active span,
#navigation ul li a:hover span {
background-position: right bottom;
}

#navigation ul li a.active {
font-size: 12px;
font-weight: bold;
color: #887e42;
}


#container {
padding: 20px 0;
}

.small-nav {
color: #978b48;
padding-bottom: 20px;
}
.small-nav a {
color: #6f6636;
}


#main {
}
#content {
float: left;
width: 750px;
/*trying to keep footer at bottom*/
min-height: 100%;
height: 100%;
position: relative;
}
#sidebar {
float: right;
width: 225px;
}


.table {
}

.table th {
background: #fffdfa url(/assets/th.gif) repeat-x 0 0;
color: #818181;
text-align: left;
padding: 7px 10px;
border-bottom: solid 1px #d2d1cb;
}

.table td {
background: #fbfcfc;
border-bottom: solid 1px #e0e0e0;
padding: 8px 10px;
}
.table tr:nth-child(odd) td {
background: #f8f8f8;
}
.table tr:hover td {
background: #fff9e1;
}
.table a.ico {
}

.box {
background: #fbfcfc;
height: 100%;
padding: 1px;
margin-bottom: 20px;
}
.box-head {
background: #ba4c32;
height: 32px;
color: #fff;
padding: 0 10px;
line-height: 32px;
white-space: nowrap;
border-bottom: solid 1px #fff;
}
.box-head .right {
padding-top: 5px;
line-height: 13px;
}
.box-head .right label,
.box-head .right input {
float: left;
}
.box-head .right label {
padding: 4px 0 0 0;
}
.box-head .right input {
margin-left: 5px;
}

.pagging {
height: 20px;
padding: 8px 10px;
line-height: 19px;
color: #949494;
}
.pagging a {
background: url(/assets/pagging.gif) repeat-x 0 0;
height: 20px;
float: left;
padding: 0 8px;
border: solid 1px #d5d5d5;
text-decoration: none;
color: #949494;
margin-left: 5px;
}
.pagging a:hover {
border-color: #8c3521;
background: #ba4c32;
color: #fff;
}
.pagging span {
float: left;
margin-left: 5px;
padding-top: 2px;
}


a.ico {
color: #9d9c9a;
font-size: 10px;
text-decoration: none;
width: 16px;
height: 16px;
display: block;
background-repeat: no-repeat;
background-position: 0 0;
}
a.ico:hover {
color: #333;
}
a.del {
background-image: url(/assets/delete.png)
}
a.edit {
background-image: url(/assets/edit.png);
margin-left: 14px;
}


.form {
padding: 15px 10px 5px 10px;
}
.form label {
font-weight: bold;
font-size: 13px;
padding-bottom: 4px;
}
.form label span {
color: #999;
font-weight: normal;
}
.form .field {
display: block;
}
.form .inline-field .field {
display: inline;
}
.form .req {
font-size: 13px;
float: right;
white-space: nowrap;
color: #999;
}
.form p, .form .field_with_errors {
padding-bottom: 15px;
}
.form p input, .form .field_with_errors input,  .form p textarea {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
width: 716px;
border: solid 1px #d3cfc7;
background: #fff;
padding: 5px;
}

.form p input[type="checkbox"] {
	width: auto;
}

.size1 {
width: 716px;
}
.size2 {
width: 80px;
}
.size3 {
width: 120px;
}
textarea.size1 {
height: 180px;
}

.buttons {
text-align: right;
padding: 10px;
background: #eee;
border-top: solid 1px #e0e0e0;
}
.buttons .button {
margin-left: 3px;
}

.box-content {
padding: 10px;
}

.sort {
border-top: solid 1px #e0e0e0;
padding-top: 10px;
margin-top: 15px;
}
.sort label {
display: block;
font-weight: bold;
}
.sort .field {
display: block;
margin-top: 5px;
}
.sort select.field {
width: 203px;
}


.box-content p {
padding-top: 10px;
}
.select-all {
}
.select-all label {
text-decoration: underline;
padding-left: 4px;
}

.add-button,
.add-button span {
float: left;
height: 26px;
background: url(/assets/add-button.gif) no-repeat 0 0;
padding: 0 0 0 28px;
}
.add-button span {
background-position: right 0;
padding: 0 10px 0 0;
}
.add-button {
font-weight: bold;
font-size: 12px;
color: #747474;
text-decoration: none;
line-height: 26px;
}
.add-button:hover {
color: #333;
}


#footer {
height: 44px;
background: url(/assets/footer.gif);
line-height: 44px;
color: #fff;
/* and stay down! */
position: absolute;
bottom: 0;
left:0;
width: 100%;
clear: both;
}
#footer a {
color: #fff;
}


.msg {
position: relative;
padding-right: 35px;
margin-bottom: 10px;
}
.msg p {
padding: 9px 10px 9px 40px;
font-size: 12px;
background-repeat: no-repeat;
background-position: 10px 5px;
}
.msg a.close {
font-size: 0;
line-height: 0;
position: absolute;
top: 0;
right: 0;
width: 34px;
height: 34px;
background: url(/assets/close.gif);
text-indent: -4000px;
}

.msg-ok p {
background-color: #fffac2;
border: solid 1px #dbd6a2;
color: #5e5c40;
background-image: url(/assets/msg-ok.gif);
}
.msg-error p {
background-color: #f3c598;
border: solid 1px #e8b084;
color: #ba4c32;
background-image: url(/assets/msg-error.gif);
}

/*** CSS3 ***/
.box {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 0 6px #978f6c;
-webkit-box-shadow: 0 0 6px #978f6c;
}
.box-head {
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}

.field, .button {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.small-field, .button, .pagging a {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.msg p {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

.button {
-moz-box-shadow: 0 0 2px #978f6c;
-webkit-box-shadow: 0 0 2px #978f6c;
}

.silverCss3Button {
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #7f7f7f;
padding: 5px 18px;
background: -moz-linear-gradient(
		top,
		#fbfbfb 0%,
		#e1e1e1 50%,
		#cacaca);
background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fbfbfb),
		color-stop(0.50, #e1e1e1),
		to(#cacaca));
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border: 1px solid #b1b1b1;
-moz-box-shadow: 1px 3px 3px rgba(000,000,000,0.1),
		inset 0px 0px 5px rgba(255,255,255,0.6);
-webkit-box-shadow: 1px 3px 3px rgba(000,000,000,0.1),
		inset 0px 0px 5px rgba(255,255,255,0.6);
text-shadow: 0px 2px 0px rgba(255,255,255,0.5),
		0px 1px 0px rgba(255,255,255,0.3);
}

/*** Additional Added by Dorian ***/
.hidden {
display: none;
}

#ajax-response {
background: #B5E095;
border: solid 1px #417615;
padding: 5px;
margin: 10px;
}

#ajax-response h1 {
color: #000;
}

.subform_label {
display: normal !important;
font-weight: normal !important;
font-size: 11px !important;
}
.subform_textfield {
width: 150px !important;
}


/* Polaroids CSS 3 Effect */
/* By default, we tilt all our images -2 degrees */
ul.polaroids li { display: inline; }
ul.polaroids a { background: #fff; display: inline; float: left; margin: 0 0 27px 30px; width: auto; padding: 10px 10px 15px; text-align: center; font-family: "Marker Felt", sans-serif; text-decoration: none; color: #333; font-size: 18px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transform: rotate(-2deg); -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(-2deg); }
ul.polaroids img { display: block; width: 190px; margin-bottom: 12px; }
ul.polaroids a:after { content: attr(title); }
		
ul.polaroids a {
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
}
 
/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
}
 
/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
-webkit-transform: none;
-moz-transform: none;
position: relative;
top: -5px;
}
 
/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
position: relative;
right: 5px;
}
 
/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
position: relative;
top: 8px;
right: 5px;
}
 
/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
position: relative;
top: 3px;
left: -5px;
}

/* course-color-index */
.course-color-index {
	display: block;
	width:20px; 
	height:20px;
	border: 1px #848484 solid;
}

/* prof index thumb */
.prof_thumb {
	border:#AC3722 solid 1px;
}

/* three column dl */
.three-col {
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
}

/* course index at top of dashboard */
.course_index {
	width: 100%;
}

.course_index li {
	display: inline;
	list-style-type: none;
	margin-right: 15px;
}

.course_index .course-name {
	position: relative;
	top: -6px;
}

.course_index .course-color-index {
	display: inline-block;
	margin: 0px;
}

/* Button from Bootstrap */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  text-decoration: none;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
}
.btn-group:before,
.btn-group:after {
  display: table;
  content: "";
}
.btn-group:after {
  clear: both;
}
.btn-group:first-child {
  *margin-left: 0;
}
.btn-group + .btn-group {
  margin-left: 5px;
}
.btn-toolbar {
  margin-top: 9px;
  margin-bottom: 9px;
}
.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.btn-group .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group .btn:last-child,
.btn-group .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group .btn.large:last-child,
.btn-group .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn:active,
.btn-group .btn.active {
  z-index: 2;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *padding-top: 3px;
  *padding-bottom: 3px;
}
.btn-group .btn-mini.dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-group .btn-small.dropdown-toggle {
  *padding-top: 4px;
  *padding-bottom: 4px;
}
.btn-group .btn-large.dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group.open {
  *z-index: 1000;
}
.btn-group.open .dropdown-menu {
  display: block;
  margin-top: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn .caret {
  margin-top: 7px;
  margin-left: 0;
}
.btn:hover .caret,
.open.btn-group .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-mini .caret {
  margin-top: 5px;
}
.btn-small .caret {
  margin-top: 6px;
}
.btn-large .caret {
  margin-top: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

/*  (in show page) */
#show-page-content h3 {
	font-weight: bold;
}
#show-page-content .two-col li {
	float: left;
	list-style-type: none;
	margin-right: 100px;

}
#show-page-content .two-col li div {
	margin-bottom: 10px;
}
#show-page-content .two-col li:last-child {
	float: none;
}

#show-page-content {
	padding: 15px;
	font-size:12px;
}
#show-page-content .course-color-index {
	display: inline-block;
	position: relative;
	top: 5px;
}
#show-page-content .course-name {
	position: relative;
	top: -10px;
}
#show-page-content #instr-list {
	position: relative;
	left: 20px;
}
